doctype html
html(lang="en")
  block head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/styles.css")
    script(type="module" src="/js/index.js" defer) 
    title Document
  body
    include ./pages/components/header

    block content
      h1(class="bg-red-600") placeholder content
    
    script(src='/js/bundle/index.js')
