header.header
  ul.header__ul
    li.header__li
      a.header__link(href="/") Home
    li.header__li 
      a.header__link(href="/blog") Blog
    li.header__li
      a.header__link(href="/blogContent") Content
